<h1>
<%= @cocktail.name %>
</h1>
<br>
<h5>
  <% @cocktail.doses.each do |dose| %>
    <%= ' - ' + dose.description %>  <%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-link" %>
    <br>
  <% end %>
</h5>


<%= link_to "Index", cocktails_path, {class: "btn btn-link"} %>
<br>
<h3>Add a new dose to your Cocktail (la grosse dose si possible)</h3>
<%= render "doses/form1" %>




